<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <rosparam command="load" file="$(find demo_navi)/src/config/joints_DIR.yaml"/>

  <include file="$(find arm)/launch/planning_context.launch">
   <arg name="load_robot_description" value="true" />
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/demo_DIR/joint_states]</rosparam>
  </node>

  <include file="$(find arm)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find arm)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="true"/>
  </include>

</launch>
